Weilbacher-Assignment-9.2.docx
bioSite-master/23658631_10214610489277878_9034430609878271344_n.jpg
Weilbacher-Assignment-9.3.docx
Weilbacher-Assignment-9.4.docx
Bellevue EX2/Weilbacher_EX3.html
Bellevue EX2/Weilbacher_EX3.zip
Bellevue EX2/Weilbacher_EX3_Styles.css
Bellevue EX2/index.html
bioSite-master/29315327_10215698406715134_4386288844857671680_n.jpg
bioSite-master/29365872_10215698153828812_2949335689767944192_n.jpg
bioSite-master/52658353_10218466058624702_1858530145384529920_n.jpg
bioSite-master/README.md
bioSite-master/Weilbacher_BioSite_Week6.zip
bioSite-master/Weilbacher_Website.css
bioSite-master/image1.jpg
bioSite-master/image2.jpg
bioSite-master/index.html
web-321/Weilbacher-Assignment-8.1.docx
web-321/Weilbacher-Assignment-8.2.pptx
web-321/Weilbacher-Assignment-8.4.docx
web-321/Weilbacher-WEB-321-Assignment-7.4.docx
web-321/Weilbacher-WEB-321-Capstone.docx
web-321/Weilbacher-WEB-321-Capstone-Project.pdf
web-321/Weilbacher-WEB321-Assignment-7.1-Design-1.pdf
web-321/Weilbacher-WEB321-Assignment-7.1-Design-2.pdf
web-321/Weilbacher-WEB321-Assignment-7.2-Design-1.pdf
web-321/Weilbacher-WEB321-Assignment-7.2-Design-2.pdf
web-321/Weilbacher-WEB321-Assignment-8.1.pdf
web-321/desktop.ini
web-231/
# IDE extensions
.vscode/*
.idea/*
*.iml

# node
node_module
.node_repl_history
node_modules