<div role="main" class="container">

    <br/><br/>

    <h2>Name List</h2>

    <% for (var k = 0; k < fruits.length; k++) { %>

        <div class="alert alert-danger" role="alert"><strong><%= fruits[k] %></strong></div>

    <% } %>

    <!-- end for loop -->

</div>