<nav class="sidebar">
 <div class="sidebar-sticky">
   <div class="logo">
     
      <h2>Employee Database</h2>
   </div>
   
  <ul class="nav flex-column">
  <a href="/"><li><i class="fas"></i>Home</li></a>
  <a href="/new"><li><i class="far"></i> Calendar </li></a>
  <a href="/list"><li><i class="fas"></i>Employees</li></a>
  <li><i class="fas"></i>Settings</li>
  </ul>
</div> 
<% include footer %>
</nav>


  